include includes/header.pug

  link(rel='stylesheet', href='/css/suggest.css')
  link(rel='stylesheet', href='/css/admin.css')
  
block body
  body
    .wrapper
      #splash
        h1 Manage existing persons
        p
          a(href="/register") Or register a new person.
      #suggest
        if users
          each person in users
            .item.big(data-id=person._id)
              img.file(src=person.filename data-filename="")
              .parent_wrapper
                .sub_wrapper
                  p Email
                  input(class="email" placeholder=person.email)
                .sub_wrapper
                  p Username
                  input(class="username" placeholder=person.username)
                .sub_wrapper
                  p Name
                  input(class="name" placeholder=person.name)
                if user.isAdmin <= 1 
                  .sub_wrapper
                    p Password
                    input(class="password" type="password" placeholder="Set a new password for this person?")
                .sub_wrapper
                  p Admin Level
                  #admin.menu(label="Country Menu")
                    - var levels = ["Admin", "Manager", "Reviewer"]
                    p.sel(data-admin=person.isAdmin)=levels[person.isAdmin]
                    p &#9662;
                    ul.dropdown.inactive
                      li="Admin"
                      li="Manager"
                      li="Reviewer"
                input.fileinput(type="file" name="icon" accept=".png,.jpg,.gif,.svg,.bmp" required)   
              .buttonwrapper
                if user.isAdmin < 1
                  .button.reject
                    .svg-wrapper
                      svg(height="40" width="150" xmlns="http://www.w3.org/2000/svg" )
                        rect#shape(height="40" width="150")
                        #text
                          span.spot
                            p="Delete this person"
                .button.approve
                  .svg-wrapper
                    svg(height="40" width="150" xmlns="http://www.w3.org/2000/svg" )
                      rect#shape(height="40" width="150")
                      #text
                        span.spot
                          p="Save Changes"                                    
      #notify
        p 

include includes/footer.pug
  script(src='js/admin.js') 
    
    
