include includes/header.pug
  link(rel='stylesheet', href='/css/index.css')
  title Design Conferences
  
block body
  .wrapper
    #splash
      a(href="./")
        h1 The List of Design Conferences
      if !user  
        p="If you have any suggestions, please let us know using "
          a(href="/submit") this form!
      else 
        p="If you want to manually add a conference, use "
          a(href="/add") this form!
    include includes/nav.pug
    if list
      #conferences
        if !manage
          if !result
            span=""
          else if result!=1
            span=result + " results found for your search."
          else if result=1
            span=result + " result found for your search."
          for item in list
            .item.small
              if item.image
                .img(style={"background-image": "url(" + item.image + ")"})
              h2=item.title
              p=item.text_date 
              p=item.city + ", " + item.country
              if item.description 
                p.desc=item.description
              .expand.toggle
                p + See More
              
              include includes/social.pug


              if item.website
                .expand.website
                  a(href=item.website target="_blank" rel="noopener")
                    p View website →
        else
          if !result
            span=""
          else if result!=1
            span=result + " conferences for you to approve."
          else if result=1
            span=result + " conference for you to approve."
          for item in list
            //- TODO: Add button to redirect to editing page, and a button to reject the conference
            .item.big.admin(data-id=item._id)
              if item.image
                .img.big(style={"background-image": "url(" + item.image + ")"})
              h2=item.title
              p=item.text_date 
              p=item.city + ", " + item.country
              if item.description 
                p.desc=item.description
              if item.website
                .expand.website
                  a(href=item.website target="_blank" rel="noopener")
                    p View website →
              .buttonwrapper
                .button.reject(data-id="")
                  .svg-wrapper
                    svg(height="40" width="150" xmlns="http://www.w3.org/2000/svg" )
                      rect#shape(height="40" width="150")
                      #text
                        span.spot
                          p="Edit"
                if !existing
                  .button.approve(data-id="")
                    .svg-wrapper
                      svg(height="40" width="150" xmlns="http://www.w3.org/2000/svg" )
                        rect#shape(height="40" width="150")
                        #text
                          span.spot
                            p="Approve"
                .button.remove(data-id="")
                  .svg-wrapper
                    svg(height="40" width="150" xmlns="http://www.w3.org/2000/svg" )
                      rect#shape(height="40" width="150")
                      #text
                        span.spot
                          p="Delete"
    else
      if !manage
        #noresults
          h2 No results found :-(
          p Try expanding your search,<br>or suggest a conference using the button below!
          a.rectangle(href="/suggest" label="Suggest a Conference!") 
            p Suggest a conference!
      else 
        a(href="./").big
          img.big(src="./img/done-dawg.gif")

include includes/footer.pug

  script(src="js/minified/packery.pkgd.min.js")
  script(src="js/index.js")
  if manage
    script(src="js/manage.js")
  link(rel='stylesheet', href='/css/font-awesome.min.css')